@model OrdersViewModel

@{
    ViewBag.Title = "Orders";
}


<div class="navigation-container">
    <span class="dimmGray-text big-font">Stocks</span>
    <i class="fa-solid fa-play" style="color:gray;"></i>
    <span class="dimmGray-text big-font">Orders</span>

    <div class="big-font">
        <a asp-controller="trade" asp-action="ordersPDF">Download as PDF</a>
    </div>

</div>

<div class="orders-container">
    <div class="buyOrders-container">
        <span class="dimmGray-text medium-font">Buy Orders</span>
        <div class="order-info-container">
            @foreach(BuyOrderResponse buyOrder in Model.BuyOrders)
            {
                <div class="order">
                    <span class="medium-font"><b>@buyOrder.StockName (@buyOrder.StockSymbol)</b></span>
                    <span class="small-font"><b>@buyOrder.Quantity</b> <span class="dimmGray-text">shares at</span> <b>$@buyOrder.Price</b> </span>
                    <span class="small-font margin-t5"><span class="dimmGray-text">Trade Amount: </span><b>$@buyOrder.TradeAmount</b></span>
                    <span class="dimmGray-text">@buyOrder.DateAndTimeOfOrder.ToString()</span>
                </div>
            }
        </div>
    </div>

    <div class="sellOrders-container">
        <span class="dimmGray-text medium-font">Sell Orders</span>
        <div class="order-info-container">
            @foreach (SellOrderResponse sellOrder in Model.SellOrders)
            {
                <div class="order">
                    <span class="medium-font"><b>@sellOrder.StockName (@sellOrder.StockSymbol)</b></span>
                    <span class="small-font"><b>@sellOrder.Quantity</b> <span class="dimmGray-text">shares at</span> <b>$@sellOrder.Price</b> </span>
                    <span class="small-font margin-t5"><span class="dimmGray-text">Trade Amount: </span><b>$@sellOrder.TradeAmount</b></span>
                    <span class="dimmGray-text">@sellOrder.DateAndTimeOfOrder.ToString()</span>
                </div>
            }
        </div>
    </div>
</div>